@use "sass:color";

/**
 | ------------------------------------ 
 |             顏色 Colour
 | ------------------------------------
 */
$primary-white: #fff;
$primary-color: #3a82ff;
$primary-dark-color: #111622;
$primary-darker-color: #090E1A;